@use "../../styles/variables" as *;
@import "../../styles/media";

.profile-bar {
    margin: 0 auto;
    margin-top: 3%;
    position: relative;
    width: 90%;
    background-color: $color-dblue;
    height: 15vh;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 2%;
    padding: 1% 2%;

    @include laptop-desktop {
        flex-direction: row;
        justify-content: space-between;
    }

    &__heading {
        color: $color-dark;
        text-shadow: 2px 2px 5px $color-orange;
        border: none;

        text-align: center;
        width: 150%;

        @include laptop-desktop {
            text-align: left;
            width: 20%;
        }
    }
}
