@use "../../styles/variables" as *;

.button {
    background-color: $color-yellow;
    color: $color-dark;
    border: 2px solid $color-dark;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    margin: 0 2rem;

    &:hover {
        transform: scale(0.9);
        transition: 0.2s;
        border: 2px solid $color-dark;
    }
}
