.asteroid-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    

    &__heading {
      margin-bottom: 2rem;
    }

    &__results {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem; 
        justify-content: center;
        align-items: center;

    }
}
