@use "../../styles/variables" as *;
@import "../../styles/media";

.side-bar {
    display: none;
  

    &--visible {
        display: block;
    }

    @include laptop-desktop {
        background-color: $color-yellow;
        margin-top: 1%;
        margin-right: 1%;
        border-radius: 15px;
        width: 20%;
        display: flex;
        justify-content: center;
        height: 75vh;
    }

    &__close-icon {
        z-index: 1001;
        width: 25px;
        cursor: pointer;

        @include laptop-desktop {
            display: none;
        }
    }

    &__filters {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        font-size: 1.2rem;
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    &__sort-filter {
        select {
            display: flex;
            background-color: $color-white;
            font-family: "Space Mono", monospace;
            font-weight: 600;
            font-size: 0.7rem;
            padding: 0.5rem;
            margin: 0 auto;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            width: 90%;
            text-align: center;
        }
    }

    &__size-filter {
        display: flex;
        flex-direction: column;
    }

    &__speed-filter {
        display: flex;
        flex-direction: column;
    }

    &__subheading {
        font-size: 1rem;
        color: $color-dark;
        margin: 2.8rem auto;
        margin-bottom: 1.7rem;
    }

    &__label {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    &__slider {
        -webkit-appearance: none;
        width: 80%;
        height: 5px;
        border-radius: 5px;
        background: $color-white;
        opacity: 0.8;
        transition: opacity 0.1s ease-in-out;
        margin: 0 auto;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $color-orange;
            cursor: pointer;
            border: 2px solid $color-white;
        }
    }

    &__hazardous-filter {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }

    &__checkbox {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &__checkbox input {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    &__checkbox-indicator {
        width: 20px;
        height: 20px;
        background-color: $color-white;
        border: 2px solid $color-dark;
        opacity: 0.8;
        border-radius: 3px;
        display: inline-block;
        margin-left: 10px;
        position: relative;
        transition: background-color 0.2s, border-color 0.2s;
    }

    &__checkbox-indicator:after {
        content: "";
        position: absolute;
        top: 1px;
        left: 6px;
        width: 5px;
        height: 14px;
        border: solid transparent;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
        opacity: 0; /* Hide tick by default */
        transition: opacity 0.2s;
    }

    &__checkbox input:checked + &__checkbox-indicator {
        background-color: $color-dblue;
        border-color: $color-dark;
        opacity: 1;
    }

    &__checkbox input:checked + &__checkbox-indicator:after {
        border-color: $color-white;
        opacity: 1;
    }
}
