.side-bar {
    background-color: yellow;
    margin-top: 1%;
    margin-right: 1%;
    border-radius: 15px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}