@use "../../styles/variables" as *;

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    font-weight: 800;
    color: $color-dark;

    &__page-info {
        margin: 0 1rem;
        padding: 0 1rem;
        text-align: center;
        min-width: 10rem;
    }

    &__arrow {
        height: 1.5rem;
        border: none;
        margin: 0 1rem;
        padding: 0;
        background: none;

        & > * {
            height: 100%;
        }
    }
}
