#root {
    font-family: "Space Mono", monospace;
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #120114;
    min-height: 100vh;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;

}





