@use "../../styles/variables" as *;
@import "../../styles/media";

.display-area {
    justify-content: center;
    align-items: center;
    background-color: $color-orange;
    margin: 5% auto;
    border-radius: 15px;
    // height: 70vh;
    width: 100%;
    color: $color-dark;
    position: relative;

    @include laptop-desktop {
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 75vh;
        margin: 1% auto;
    }

    &__menu-icon {
        position: absolute;
        z-index: 900;
        top: 20px;
        left: 20px;
        display: block;
        width: 30px;
        cursor: pointer;
        color: white;
        display: none;
        @include laptop-desktop {
            display: none;
        }
    }

    &__loading,
    &__error {
        font-size: 1.4rem;
        color: $color-dark;
    }

    &__asteroid-image {
        width: 20%;
        animation: spin 5s infinite linear;
        display: block;
        margin: 0 auto;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    &__asteroids {
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
