@use "../../styles/variables" as *;
@import "../../styles/media";

.display-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-orange;
    height: 70vh;
    border-radius: 15px;
    margin-top: 1%;
    width: 100%;
    color: $color-dark;
    position: relative;

    @include laptop-desktop {
        width: 80%;
    }

    &__menu-icon {
        position: absolute;
        z-index: 900;
        top: 20px; // Position the icon in the top-left corner
        left: 20px;
        display: block; // Ensure it's visible by default on mobile
        width: 30px; // Adjust icon size if needed
        cursor: pointer;
        color: white;

        @include laptop-desktop {
            display: none;
        }
    }

    &__loading,
    &__error {
        font-size: 1.4rem;
        color: $color-dark;
    }

    &__asteroid-image {
        width: 20%;
        animation: spin 5s infinite linear;
        display: block;
        margin: 0 auto;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    &__asteroids {
        flex-grow: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__nav {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


